<!DOCTYPE html>
<html>
<head>
<title>NoSQL vs MySQL</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/font.css" rel="stylesheet" type="text/css" media="all" />
<!--js-->
<script src="../static/js/jquery.min.js"></script>
<!--js-->
</head>
<body>
	<p style="line-height:1000%">&nbsp;</p>
	<div class="header">
		<h1>Show-Time</h1>
	</div>
	<div class="content">
		<div class="content3">
			<p>MySQL vs NoSQL</p>
			<ul>
				<li>						
					<form method="post" action="/search">
						<input type="text">
						<input type="submit" value="SEARCH">
						<div class="clear"> </div> 
					</form>
				</li>
			</ul>
		</div>
	</div>

</body>
</html>
