<!DOCTYPE html>
<html>
<head>
<title>Hawk</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/font.css" rel="stylesheet" type="text/css" media="all" />
<!--js-->
<script src="../static/js/jquery.min.js"></script>
<!--js-->
</head>
<body>

{% if ret %}
	{% for i in ret %}
		<h5>{{ i.ip }}</h5>
		<p>{{ i.port }}<p>
	{% endfor %}
{% endif %}


</body>
</html>
